body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: '18px';
    color: #777;
    background: #777;
    /* width: '960px'; This is what it says to do in HW, but you can't customize the width of a body element. It was meant to define the sections, navs, etc. */
}

header, nav, section, aside, footer {
    background: #ebebeb;
    width: 960px;
}

article {
    color: #ebebeb;
    background: #777;
}

h1 , p {
    color: #777;
    background: #ebebeb;
}

section {
    width: 495px;
    text-align: center;
    padding: 25px 6px 6px 6px;
    margin: 0px 25px 12px 0px;
    float: left;
}

#section-text {
    padding: 50px;
    display: inline-block;
}

header {
    padding: 25px 0px;
    margin: 6px auto;
    text-align: center;
}

nav {
    padding: 25px 0px;
    margin: 6px auto;
    text-align: center;
}

.container {
    margin: 6px auto;
    background: purple;
    width: 960px;
}

aside {
    text-align: center;
    width: 428px;
    float: left;
    padding: 174px 0px;
    /* I'm unsure how to make this aside match the width of the section next to it with hard-coding it. */
    /* Also unsure if floating was the right choice here, I had to hardcode the width of the aside so it fit. */
}

article {
    padding: 25px 0px;
}

p {
    margin: 25px 6px; 
    padding: 10px 0px;
}

footer {
    clear: both;
    margin: 0px auto;
    text-align: center;
    padding: 25px 0px;
}
